body{
margin:0;
font-family:Arial;
background:#f4f6fa;
}

.menu{
background:#003366;
padding:15px;
display:flex;
gap:20px;
}

.menu a{
color:white;
text-decoration:none;
font-weight:bold;
}

main{
padding:30px;
}

.breadcrumb{
color:#666;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px #ccc;
}

.lista li{
margin:10px 0;
}
